.buttons {
    display: inline-block;
    position: absolute;
    top: 803px;
    left: 130px;
    width: 279px;
    height: 100px;
    border-radius: 25px 25px 0 0;
    background-color: $font-white;

    button {
        width: 121px;
        height: 66px;
        background-color: $font-white;
        border: none;
        cursor: pointer;
    }
}

.forms button {
    width: 154px;
    height: 154px;
    background: rgba(62, 134, 245, 0.8);
    border-radius: 65px;
    border: none;
}

.group_type button {
    border: none;
    background-color: $font-white;
    color: $font-grey;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    cursor: pointer;
}

.price button {
    margin-left: 70px;
    width: 107px;
    height: 47px;
    text-align: center;
    background: #F2F6FF;
    border-radius: 10px;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #3E86F5;
    border: none;
    cursor: pointer;
}