.promotion {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 1180px;
    height: 500px;
    border-radius: 100px;
    background-image: url('../images/image/bottom.jpg');

    p {
        margin: 40px 170px;
        text-align: center;
        font-weight: 600;
        font-size: 48px;
        line-height: 72px;
        color: $font-white;
    }
}